body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(20, 26, 36);
    overflow-x: hidden;
}

.header, .intro, .project-container, .about-me, .stories-container, .footer {
    width: 100%;
    padding: 20px 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 26, 36);
    color: white;
}

.left-header {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.header .left-header .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.link-header {
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.header .link-header ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header .link-header ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.link-header ul li img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    filter: invert(100%);
}

.link-header ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.intro {
    text-align: center;
    background-color: rgb(20, 26, 36);
    color: white;
}

.about-me {
    text-align: center;
    background-color: rgb(36, 43, 55);
    color: white;
}

.about-me .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.about-me .skill {
    text-align: center;
}

.skill img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 26, 36);
    color: white;
}

.project-container .projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.project {
    text-align: center;
    background-color: rgb(36, 43, 55);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
    transition: transform 0.3, box-shadow 0.3s;
}

.project a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    /* border-radius: 8px; */
    transition: transform 0.3s, box-shadow 0.3s;
    filter: invert(72%) sepia(83%) saturate(3475%) hue-rotate(-20deg) brightness(95%) contrast(90%);
}

.project img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.project-name {
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.stories-container {
    background-color: rgb(36, 43, 55);
    color: white;
    text-align: center;
}

.stories-container .stories-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.story {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    text-align: left;
}

.story img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(36, 43, 55);
}

.footer hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0; 
}

.footer p {
    margin: 10px 0 0;
    color: lightgray;
}

/*media queries*/
@media (max-width: 1024px) {
    .project-container .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .about-me .skills {
        grid-template-columns: repeat(2, 1fr);
    }

    .stories-container .stories-content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .project-container .projects {
        grid-template-columns: 1fr;
    }

    .about-me .skills {
        grid-template-columns: 1fr;
    }
}