body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.header, .intro, .about-me, .project-container, .stories-container, .footer {
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .left-header {
    display: flex;
    align-items: center;
}

.header .left-header .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.header .link-header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header .link-header ul li {
    cursor: pointer;
}

.intro {
    text-align: center;
}

.about-me {
    text-align: center;
}

.about-me .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.about-me .skill {
    text-align: center;
}

.skill img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.project-container .projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    max-width:1200px;
}

.project {
    text-align: center;
}

.project img {
    width: 100px;
    height: 100px;
}

.stories-container {
    text-align: center;
}

.stories-container .stories-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.story {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    text-align: left;
}

.story img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.footer {
    text-align: center;
    width: 100%;
    padding: 20px;
}

.footer hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0; 
}

.footer p {
    margin: 10px 0 0;
    color: #666;
}

/*media queries*/
@media (max-width: 1024px) {
    .project-container .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .about-me .skills {
        grid-template-columns: repeat(2, 1fr);
    }

    .stories-container .stories-content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .project-container .projects {
        grid-template-columns: 1fr;
    }

    .about-me .skills {
        grid-template-columns: 1fr;
    }
}





